[ 'Flood 1' ]
Duration (y): 1d
Bedload (kg/s): 100.0
Suspended load concentration (kg/m^3): {sediment_mass_concentration}
Velocity (m/s): {river_mouth_velocity}
Width (m): {river_mouth_width}
Depth (m): {river_mouth_depth}
