[ PLUME ]
Bulk density: {bulk_density}
Removal rate constant: {removal_rate}
Coast normal: {coast_normal}
River angle wrt coast normal: {river_mouth_angle}
Latitude: {river_mouth_latitude}
Ocean sediment concentration: {background_ocean_concentration}
Normalized width of coastal current: {normalized_current_width}
Velocity of coastal current: {coastal_current_velocity}
Number of grid nodes within river mouth: {grid_nodes_in_river_mouth}
Ratio of cross- to along-shore grid spacing: {ratio_of_cross_shore_to_along_shore_spacing}
Basin width: {basin_width}
Basin length: {basin_length}
Cross-shore output resolution: {cross_shore_resolution}
Along-shore output resolution: {along_shore_resolution}

