{number_of_rows}, {number_of_columns}
{row_spacing}, {column_spacing}
{row_location_of_inflow}, {column_location_of_inflow}
{minimum_angle_limit_of_river}, {maximum_angle_limit_of_river}
{random_walk_variance}
{bed_load_exponent}
{water_discharge_exponent}
{number_of_rivers}
