[ 'Season 1' ]
Duration (y):                             1y   
Bedload (kg/s):                           {river_bed_load_flux}
Suspended load concentration (kg/m^3):    {river_suspended_load_concentration_0}, {river_suspended_load_concentration_1}
Velocity (m/s):                           {river_velocity}
Width (m):                                {river_width}    
Depth (m):                                {river_depth}

