[ global ]
margin name:            sedflux_3d
vertical resolution:    {z_resolution}
x resolution:           {x_resolution}
y resolution:           {y_resolution}
bathymetry file:        {bathymetry_file}
sediment file:          sedflux_3d_sediment.kvf
    
[ epoch ]
number:           1
duration:         {run_duration}d
time step:        1y
process file:     sedflux_3d_process.kvf
