/* This is the start of the first group */
[ 'Grain 1 (bedload)' ]
grain size (microns):                {bed_load_sediment_grain_size}
grain density (kg/m^3):              {bed_load_sediment_grain_density}
saturated density (kg/m^3):          {bed_load_sediment_saturated_density}
minimum void ratio (-):              {bed_load_sediment_minimum_void_ratio}
diffusion coefficient (-):           {bed_load_sediment_diffusion_coefficient}
removal rate (1/day):                50
consolidation coefficient (m^2/yr):  100000
compaction coefficient (-):          0.0000000368

/* The rest of the groups */
[ 'Grain 2' ]
grain size (microns):                {suspended_load_sediment_1_grain_size}
grain density (kg/m^3):              {suspended_load_sediment_1_grain_density}
saturated density (kg/m^3):          {suspended_load_sediment_1_saturated_density}
minimum void ratio (-):              {suspended_load_sediment_1_minimum_void_ratio}
diffusion coefficient (-):           {suspended_load_sediment_1_diffusion_coefficient}
removal rate (1/day):                {suspended_load_sediment_1_removal_rate}
consolidation coefficient (m^2/yr):  10000
compaction coefficient (-):          0.00000005

/* The rest of the groups */
[ 'Grain 3' ]
grain size (microns):                {suspended_load_sediment_2_grain_size}
grain density (kg/m^3):              {suspended_load_sediment_2_grain_density}
saturated density (kg/m^3):          {suspended_load_sediment_2_saturated_density}
minimum void ratio (-):              {suspended_load_sediment_2_minimum_void_ratio}
diffusion coefficient (-):           {suspended_load_sediment_2_diffusion_coefficient}
removal rate (1/day):                {suspended_load_sediment_2_removal_rate}
consolidation coefficient (m^2/yr):  10000
compaction coefficient (-):          0.00000005
